<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/knip/io/omero"
            deprecated="false"
            factory-class="org.knime.knip.omero2.nodes.connection.OmeroConnectionInfoNodeFactory">
      </node>
      <node
            category-path="/community/knip/io/omero"
            deprecated="false"
            factory-class="org.knime.knip.omero2.nodes.tablereader.OmeroTableReaderNodeFactory">
      </node>
      <node
            category-path="/community/knip/io/omero"
            deprecated="false"
            factory-class="org.knime.knip.omero2.nodes.roireader.OmeroRoiReaderNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.base.filehandling.RemoteFileHandler">
      <RemoteFileHandler
            RemoteFileHandler="org.knime.knip.omero2.remote.OmeroFileHandler">
      </RemoteFileHandler>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="false"
            name="Omero Connection Information Port"
            objectClass="org.knime.knip.omero2.port.OmeroConnectionInformationPortObject"
            objectSerializer="org.knime.knip.omero2.port.OmeroConnectionInformationPortObject$Serializer"
            specClass="org.knime.knip.omero2.port.OmeroConnectionInformationPortObjectSpec"
            specSerializer="org.knime.knip.omero2.port.OmeroConnectionInformationPortObjectSpec$Serializer">
      </portType>
   </extension>
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="src/org/knime/knip/omero2/nodes/icons/default.png"
            level-id="omero"
            locked="true"
            name="OMERO"
            path="/community/knip/io">
      </category>
   </extension>
      <extension
            point="org.knime.knip.io2.SciJavaPlugin">
         <SciJavaPlugin
               SciJavaPlugin="net.imagej.omero.OMEROFormat">
         </SciJavaPlugin>
         <SciJavaPlugin
               SciJavaPlugin="org.knime.knip.omero2.resolver.OMEROLocationResolver">
         </SciJavaPlugin>
         <SciJavaPlugin
               SciJavaPlugin="net.imagej.omero.DefaultOMEROSessionService">
         </SciJavaPlugin>
         <SciJavaPlugin
               SciJavaPlugin="net.imagej.omero.DefaultOMEROService">
         </SciJavaPlugin>
      </extension>
</plugin>
